<%= link_to 'New', new_user_tweet_path(current_user) %>

<% @tweets.each do |tweet| %>
  <div>
    <%= tweet.body %>
    <%= tweet.author.email %>
  </div>
  <%= link_to 'View Tweet', user_tweet_path(current_user, tweet.id) %>
<% end %>