<div id="feed">
  <div class="card"><%= turbo_frame_tag id="new_tweet", src:new_user_tweet_path(current_user), loading: :lazy %></div>
  
  <div id="tweets">
    <%= render @tweets %>
  </div>
</div>

<%= render 'shared/sidebar' %>
