<div class="profile">
  <div class="profile-card">
    <div class="profile-pic"></div>
    <div class="email"></div>
    <div class="bio">
      <%= turbo_frame_tag id="profile", src: new_profile_path do %>
        <%= link_to 'Edit Profile', new_profile_path %>
      <% end %>
    </div>
  </div>
</div>