#feed {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-width: fit-content;
  gap: 10px;
}

.card, .tweet {
  background-color: #ccd6dd;
  border-radius: 10px;
  padding: 1%;
}

#tweets {
  display: grid;
  width: 82%;
  gap: 5px;
  grid-template-rows: repeat(3, 1fr);
}

.tweet {
  display: flex;
  flex-direction: column;
  gap: 10px
}

#sidebar {
  background-color:  #ccd6dd;
  width: 85%;
  height: 400px;
  margin-top: 40px;
  margin-right: 40px;
  border-radius: 10px;
  padding: 20px;
  font-weight: 800;
  display: flex;
  justify-content: center;
}