#container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  background-color: #e1e8ed;
  min-height: calc(100vh - 80px);
}

#container > * {
  grid-column-start: 2;
  justify-self: center;
}